<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Category</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

    <!-- Video Background -->
    <video autoplay loop muted playsinline class="background-video">
        <source src="addcategory.mp4" type="video/mp4">
       
    </video>

    <div class="signup-container">
        <h2>Add Category</h2>
        <form>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" placeholder="Enter your name"><br><br>
          
            <label for="imagePath">Image Path:</label>
            <input type="text" id="imagePath" name="imagePath" placeholder="Enter image path or URL"><br><br>
          
            <button type="submit">Submit</button>
          </form>
          
    </div>

</body>
</html>